<div class="wpb_wrapper container" style="background-color: white;">
  <p><strong>Un curso de fin de semana pensado para todas las personas que no disponen de mucho tiempo y quieren aprender en grupos muy reducidos:</strong></p>
<p>Te presento el <strong>curso intensivo más exclusivo y completo de Sevilla</strong>: sin masificaciones, sin grandes grupos, sin tediosas explicaciones y con mucha práctica ¿te imaginas dar clase alrededor de una mesa, con la cámara en las manos? ahora es posible gracias a este curso de fotografía personalizado.</p>
<p>Por ello hemos diseñado este <strong>curso de iniciación a la fotografía</strong> <strong>en Sevilla sólo para 5 alumnos máximo con todas las medidas de seguridad ante el covid19 </strong>para que <strong>aprendas de la forma más práctica y sencilla&#8230; y en tan sólo 2 días</strong>. <strong>Desde cero</strong>, empezaremos a hablar de cómo usar la cámara, los modos de disparo, cómo hacer fotos con más o menos profundidad de campo&#8230; hasta de formas de composición fotográfica o cómo realizar un retrato o cuándo usar el blanco y negro. Y todo apoyado con prácticas y ejercicios para que aprendas de la mejor forma: <strong>con tu cámara en las manos</strong>.</p>
<p><strong>Info importante sobre los cursos</strong></p>
<p>· Los cursos se impartirán el <strong>sábado de 10h a 18h y domingo de 10h a 14h en la calle Imagen (Sevilla) y las prácticas en exterior.</strong></p>
<p>· Es necesario traer <strong>cámara de fotos </strong>(Reflex, Evil preferiblemente)</p>
<p>· <strong>Muy ameno y práctico: </strong>Desde el principio con la cámara en las manos.</p>
<p>· <strong>Plazas limitadas a 5 personas</strong> para asegurarme de que os puedo dedicar todo mi tiempo, hacerlo de forma personalizada y además cumplir las normas de seguridad frente al Covid-19.</p>
<p>· <strong>Y lo más importante:</strong> ¡Imprescindible ganas de aprender, de ilusionarse, divertirse y conocer a compañeros y amigos nuevos!</p>
<h5 style="font-size: 40px; color: darkred;">ESTE CURSO INCLUYE</h5>
<p><strong>CLASE TEÓRICA</strong></p>
<p>&#8211; Partes importantes de la cámara</p>
<p>&#8211; Manejo de la cámara. Aprende a sujetarla y consejos básicos</p>
<p><strong> </strong></p>
<p><strong>Pilares básicos: iso – apertura – tiempo de exposición </strong></p>
<p>&#8211; Apertura de diafragma: La profundidad de campo</p>
<p>&#8211; Tiempo de exposición: Posibilidades creativas</p>
<p>&#8211; ISO: elige la sensibilidad correcta</p>
<p><strong> </strong></p>
<p><strong>La Exposición. La clave está en el equilibro.</strong></p>
<p>&#8211; Aprende a combinar ISO, apertura y velocidad para lograr la foto perfecta</p>
<p><strong> </strong></p>
<p><strong>Modos de la cámara: Elige el que mejor se adapta a cada momento</strong></p>
<p>&#8211; El modo Manual ¡Todo el control en tus manos!</p>
<p>&#8211; Semiautomático I: El modo Prioridad a la apertura del diafragma</p>
<p>&#8211; Semiautomático II: El modo Prioridad al tiempo de exposición</p>
<p><strong> </strong></p>
<p><strong>PRÁCTICA PARA APLICAR LO APRENDIDO</strong></p>
<p><strong> </strong></p>
<p><strong>Composición. Aprende a expresar emociones y sentimientos</strong></p>
<p>&#8211; Tipos de planos fotográficos</p>
<p>&#8211; Composición, encuadre y la armonía visual: de la regla de los tercios a las líneas maestras.</p>
<p>&#8211; Orientación, proporción y reencuadre</p>
<p>&#8211; Cómo y cuando usar el Color y el blanco y negro</p>
<p>Contactar con Lourdes (lou@galletanas.com)</p>

</div> 