<div class="container">
<header class="jumbotron">
   <h3>¿Que es Flickr?</h3>
   <br>
    <p>Flickr es un sitio web que permite almacenar, ordenar, buscar, vender y compartir fotografías o vídeos en línea, a través de Internet.</p>
   <p>Cuenta con una comunidad de usuarios que comparten fotografías y videos creados por ellos mismos. Esta comunidad se rige por normas de comportamiento y condiciones de uso que favorecen la buena gestión de los contenidos.</p>
<p>La popularidad de Flickr se debe fundamentalmente a la capacidad para administrar imágenes mediante herramientas que permiten a los autores: etiquetar sus fotografías, explorar y comentar las imágenes de otros usuarios. Flickr es una herramienta que se puede usar para potenciar las clases de fotografía.
</p>
<p>The Verge, una empresa de tecnología de EE. UU. reportó que hasta marzo de 2013 el sitio tenía un total de 87 millones de usuarios, y que más de 3,5 millones de imágenes eran subidas a diario. En agosto de 2011 el propio Flickr afirmó que tenía hospedadas más de 6 mil millones de imágenes y va en aumento en gran cantidad. 670 millones de fotos se subieron durante 2014.​ Fotos y videos se pueden ver sin tener la necesidad de registrarse, pero se necesita una cuenta para poder subirlas y compartirlas. Para la versión móvil, los usuarios pueden acceder a través de iOS,​ Android,​ PlayStation Vita, y Windows Phone, entre otros.</p>
<p>Fue desarrollado por la empresa canadiense Ludicorp en 2004 y comprado por Yahoo! en 2005, para sustituir el servicio Yahoo! Fotos. En 2018 fue vendida a SmugMug, quienes han afirmado comprar Flickr para "rescatarlo del cierre y evitar que se borraran decenas de miles de millones de preciosas fotos", pese a no ser financieramente rentable.</p>
</header>
</div>
